<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
 
</head>
<body>
        <% include partials/new.ejs %>


<h1>Contact us </h1>


<h3>     First name:</h3> <br>
      <%= data.firstname %>
      <br>
    <h3>  Last name:</h3> <br>
      <%= data.lastname %>
      <br>
    <h3>      Resume:</h3>  <br>
     <%= data.chosefile %>
      
  </form>
  

</body>
</html>